.center-container {
    background: url(../../../background/1.jpg) no-repeat center top; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
    height: 900px;
    margin: 0 auto;
}